* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color:#EBEEF3;
}