.wrapper {
    margin: 0 auto;
    position: absolute;
    right: 174px;
    width: 240px;
    height: 104px;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--grey-grey-1, #FFF);
}

.wrapper::before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 6px;
    height: 24px;
    background: url('../../Assets/arrow.svg')
}

.title-wrapper {
    display: flex;
    align-items: start;
    margin-bottom: 13px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey-grey-8, #595959);
}

.icon {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-right: 8px;
    background: url('../../Assets/exclamation-circle.svg') no-repeat;
}

.btn-wrapper {
    display: flex;
    justify-content: end;
}

.no-button {
    width: 34px;
    height: 24px;
    padding: 1px 8px;
    border-radius: 4px;
    border: 1px solid var(--grey-grey-5, #D9D9D9);
    background: var(--grey-grey-1, #FFF);
    font-family: 'Roboto', sans-serif;
    color: var(--grey-grey-8, #595959);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-right: 8px;
}

.no-button:hover {
    cursor: pointer;
}

.yes-button {
    width: 34px;
    height: 24px;
    padding: 1px 6px;
    border-radius: 4px;
    background: var(--daybreak-blue-blue-6, #1890FF);
    font-family: 'Roboto', sans-serif;
    color: var(--grey-grey-1, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border: none;
}

.yes-button:hover {
    cursor: pointer;
}

