.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.header-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

.signIn-button {
    width: 84px;
    height: 35px;
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    border: none;
    background-color: #fff;
}

.signIn-button:hover {
    cursor: pointer;
}

.signUp-button {
    width: 109px;
    height: 51px;
    border-radius: 5px;
    border: 1px solid #52C41A;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #52C41A;
}

.signUp-button:hover {
    cursor: pointer;
}

.create-button {
    display: none;
}

.user-wrapper {
    display: none;
}

.user-name {
    display: none;
}

.user-image {
    display: none;
}

.logout-button {
    display: none;
}