.post-wrapper {
    margin: 0 auto;
    margin-top: 26px;
    padding: 15px;
    width: 941px;
    height: 140px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.post-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-wrapper:first-child {
    margin-bottom: 7px;
}

.post-title-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
}

.post-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color:#1890FF;
}

.post-title:nth-child(1) {
    margin-right: 13px;
}

.post-like-image {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: no-repeat url('../../../Assets/heart\ 1.svg');
}

.post-like-image:hover {
    cursor: pointer;
}

.post-like-count {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color:  rgba(0, 0, 0, 0.75);
}

.post-tags {
    width: 38px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.50); 
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
}

.post-user-wrapper {
    display: flex;
    align-items: center;
}

.post-user-info {
    margin-right: 12px;
}

.post-user-name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color:  rgba(0, 0, 0, 0.85);
}

.post-date {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
}

.post-description {
    width: 682px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}



